<div class="well well-sm">
    <span class="pull-right glyphicon glyphicon-remove" ng-click="deleteEvent()"></span>
    <div ng-click="openEvent()">
        <h4>{{event.title}}</h4>

        <p>Start: <strong>{{event.start | date : 'dd-MMMM-yyyy HH:mm'}}</strong><br/>
            End: <strong>{{event.end | date : 'dd-MMMM-yyyy HH:mm'}}</strong></p>
    </div>
</div>
