<div class="panel panel-default">
    <div class="panel-heading">
        <a ui-sref="^" class="pull-right">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <a href="#" editable-text="event.selected.title" onaftersave="event.update()">
            {{event.selected.title}}
        </a>
    </div>
    <div class="panel-body">
        <p>
            <a href="#" editable-textarea="event.selected.description" onaftersave="event.update()">
                <pre>{{event.selected.description}}</pre>
            </a>
        </p>
        <p><a href="#" editable-text="event.selected.start" onaftersave="event.update()">
            {{event.selected.start | date : 'dd-MMMM-yyyy HH:mm'}}
        </a> - <a href="#" editable-text="event.selected.end" onaftersave="event.update()">
            {{event.selected.end | date : 'dd-MMMM-yyyy HH:mm'}}
        </a></p>
    </div>
</div>