<ul class="nav nav-pills nav-stacked col-xs-12 col-sm-3">
    <li ng-repeat="(key, calendar) in desk.calendars.list | orderBy : 'calendar.sort'" ui-sref-active="active">
        <a ui-sref=".calendar({calendar: key})">
            {{calendar.title}}
        </a>
    </li>
</ul>
<div class="col-xs-12 col-sm-9">
    <div ui-view></div>
</div>
