<div class="pull-right">
    <a ui-sref=".newEvent" ui-sref-active="hide" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New event</a>
</div>
<h2>{{desk.calendars.list[calendar.current].title}}</h2>
<div class="col-xs-12" ui-view></div>
<div class="col-xs-4" ng-repeat="event in calendar.events | orderBy : 'event.start' ">
    <event></event>
</div>
